*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: grid;
    grid-template-areas: "header header header header" "banner banner banner banner"
    "main main main right-side" "footer footer footer footer";
    grid-gap:10px;
    color: white;
}
.header{
    background-color: red;
    height: 60px;
    line-height: 50px;
    text-align: center;
    grid-area: header;
}
.banner{
    background-color: green;
    height: 150px;
    line-height: 150px;
    text-align: center;
    grid-area: banner;
}
.main{
    background-color: orange;
    height: 450px;
    line-height: 450px;
    text-align: center;
    grid-area: main;
}
.right-side{
    background-color: blue;
    height: 450px;
    line-height: 450px;
    text-align: center;
    grid-area: right-side;
}
.footer{
    background-color: violet;
    height: 60px;
    line-height: 60px;
    text-align: center;
    grid-area: footer;
}
@media screen and (max-width:600px){
    .container{
        grid-template-areas: 
        "header header header header" 
        "banner banner banner banner"
        "main main main main" 
        "right-side right-side right-side right-side" 
        "footer footer footer footer";
        grid-gap: 5px;
    }
    .right-side{
        height: 350px;
        line-height: 350px;
    }
}

